.container {
  margin-top: 4rem;
  width: 46rem;
  height: 17.93rem;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  gap: 0.4rem;
}

.header > div:first-child > strong {
  color: var(--blue-100);
}

.header > div:last-child > strong {
  color: var(--purple-100);
}

.header span {
  background: var(--gray-400);
  width: 1.68rem;
  height: 1.37;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 999px;
}

.main {
  color: var(--gray-300);
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > div:first-child {
  margin-top: 4rem;
}

.main > div:last-child {
  margin-top: 1rem;
}

.taskList {
  margin-top: 1rem;
}

.taskItem {
  background: var(--gray-500);
  border-radius: 8px;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin-bottom: 0.75rem;
}

.taskItem > span:first-child {
  color: var(--blue-100);
  cursor: pointer;
}

.taskItem > span:last-child {
  color: var(--gray-300);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }

  .taskItem {
    margin: 0.75rem 1rem;
  }
}
